<a href="/">Go back</a>
<hr>
<h2>Celebrities List</h2>
<hr>
{{#each celebrities as |celebrity|}}
    <h3>Artist name: {{celebrity.name}}</h3>
    <h3>Occupation: {{celebrity.occupation}}</h3>
    <h3>Catch phrase:{{celebrity.catchPhrase}}</h3>
    <hr>
{{/each}}