<a href="/">Go back</a>
<hr>
<h2>New Celebrity</h2>
<form action="/celebrities/create" method="POST">
    <input type="text" name="name" placeholder="artist name">
    <input type="text" name="occupation" placeholder="artist occupation">
    <input type="text" name="catchPhrase" placeholder="artist most popular phrase">
    <button type="submit">Create celebrity</button>
</form>