<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  <a href="/celebrities">Celebrities List</a>
</div>

<div>
  <a href="/celebrities/new">New Celebrity</a>
</div>

<div>
  <a href="/movies">Movies</a>
</div>

<div>
  <a href="/movies/new">New Movie</a>
</div>
